.popup
    position absolute
    top 20%
    left 24%
    width w(973)
    border 3px solid $c-vinous
    background $c-yellowish

    &__wrap
        display flex
        flex-direction column
        align-items center
        padding w(80) w(75) w(40) w(75)

    &__email
        width w(785)
        height w(50)
        margin-top w(55)
        padding-left w(10)

    &__text
        color $c-vinous
        text-align center
        font-family $ff-Aeroport
        font-size w(20)
        font-weight 700
        line-height w(27)

    &__field
        display flex
        color $c-vinous
        font-family $ff-Aeroport
        font-size w(15)
        margin-top w(25)

    &__input
        width w(22)
        height w(22)
        margin-right w(10)


    &__button
        text-align center
        font-family $ff-Dobrozrachniy
        font-size w(40)
        background $c-vinous
        width w(195)
        height w(73)
        padding-bottom w(10)
        margin-top w(15)
        border-radius 10px
        color $c-zolato 
        border 3px solid $c-zolato 
        

