mixin popup()
    +b('section').popup
        +e.wrap
            +e.text Вы поймали щуку за <span class="popup__attempts">1</span> шагов. Хотите еще и выиграть призы? Тогда оставляйте свой e-mail в волшебном поле, получайте уникальную ссылку и делитесь ею в соцсетях. Чем больше ваших друзей перейдут по ней - тем ближе вы станете к победе.
            +e('input').email
            +e.field
                +e('input')(type="checkbox").input
                +e.text-input Согласен/согласна с правилами конкурса и на обработку персональных данных
            
            +e.link
            +e('button').button отправить

