.video
    width 100vw
    height 100%
    background-image url(/images/video-bg.png)
    background-size 100% 100%

    &__container
        padding w(110) 23% w(55)
        display flex
        flex-direction column
        align-items center

    &__button-buy
        margin-top w(50)
        width w(430)
        height w(110)
        padding w(10)
        border-radius w(10)
        border w(7) solid #F8CA6E
        background #750704
        text-align center
        font-family $ff-Dobrozrachniy
        font-size w(70)
        font-style normal
        font-weight 400
        color #F8CD70
        text-decoration none

    &__video-container
        width 100%
        height w(500)
        border-radius w(10)
        border w(7) solid #F8CA6E

    &__logo
        margin w(90) w(185) w(140)