mixin video()
    +b('section').video
        +e.container
            +e('iframe').video-container(src="https://www.youtube.com/embed/aKvu9TsPJRE?si=7XuC51Cv0cBugPNP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
                +e.logo
                    img(src=`/images/info-logo.png`)
                +e.button-buy купить билет