extends /blocks/layout-default/layout-default
//- include /blocks/games/games
include /blocks/popup/popup
include /blocks/links/links

block head
	- var pageTitle = 'Project Template';

block content
	//- +games()
	+popup()
	+links()