extends /blocks/layout-default/layout-default
//- include /blocks/promo/promo
//- include /blocks/info/info
include /blocks/games/games
//- include /blocks/video/video

block head
	- var pageTitle = 'Project Template';

block content
	//- +promo()
	//- +info()
	+games()
	//- +video()
