.info
    width 100vw
    height 100%
    background-image url(/images/bg-info.png)
    background-size 100% 100%

    &__container
        padding w(110) 23% w(55)
        display flex
        flex-direction column
        align-items center

    &__text
        padding-top w(30)
        color #750704
        text-align center
        font-family $ff-Aeroport
        font-size w(22)
        font-weight 400
        line-height w(25)

    &__title
        padding-top w(115)
        color #880200
        text-align center
        font-family $ff-Dobrozrachniy
        font-size w(64)
        font-weight 400
        line-height normal
        span 
            color $c-white

    &__subtitle
        padding-top w(45)
        color #750704
        text-align center
        font-family $ff-Aeroport
        font-size w(22)
        font-weight 400
        line-height normal

    &__text-info
        padding-top w(45)
        color #750704
        text-align center
        font-family $ff-Aeroport
        font-size w(20)
        font-weight 700
        line-height normal

    &__button
        margin-top w(50)
        width w(430)
        height w(110)
        padding w(10)
        border-radius w(10)
        border w(7) solid #F8CA6E
        background #750704
        text-align center
        font-family $ff-Dobrozrachniy
        font-size w(70)
        font-style normal
        font-weight 400
        color #F8CD70
        text-decoration none