mixin info()
    +b('section').info
        +e.container
            +e('p').text Как и в любой сказке, наших героев ждут настоящие приключения -   путешествие на скоростной печке и встреча с котом “трудной судьбы” - котом Баюном (в фильме он говорит голосом Сергея Бурунова), скатерть самобранка и баян-самоигран, лесные разбойники и Кощей Бессмертный, а еще лето вместо зимы, река Смородина, подземное царство, Водяной Царь и другие морские обитатели.
            +e('p').text Ну, и волшебная щука, конечно, окажется не просто говорящей рыбой, а перевоплотится в красавицу и умницу Василису, которая и станет мудрой спутницей для Емели. Вместе им предстоит пройти через огонь и воду,  и понять, что настоящее чудо быть с тем, кого любишь.
            +e('p').text Помогает во всем Емеле - Василиса, а мечтает жениться он на царской дочери Анфиса, которая только и знает как раздавать направо и налево приказы и невыполнимые задания.
            +e('p').text Василиса  (в сказке ее играет звезда сериала “Трудные подростки” Мила Ершова) и Анфиса (Алина Алексеева, звезда сериалов “Ольга” и “Родком”) две противоположности, но все же есть что-то - девушки непростые, прямо скажем.
            +e('p').text Василиса - волшебница, умная, преданная, смелая и рыжая, красавица с длинной косой<br>Анфиса  -  царская дочь и кудрявая блондинка, умная, с непростым характером и мечтой - выйти замуж за принца.
            +e('p').title для принцесс и храбрых Василис<br>мы подготовили конкурс<br><span>с приятными призами</span>
            +e('p').subtitle Нужно поймать волшебную щуку — а для этого решить головоломку.<br>Все просто: она устроена по принципу знакомой всем меморис.
            +e('p').text-info После того, как вы пройдете игру, оставьте свой email<br>в специальном поле. Мы пришлем вам уникальную ссылку — отправляйте ее друзьям<br>и знакомым.  Чем больше людей перейдут по этой ссылке, тем выше ваш шанс выиграть<br>приятные призы!
            +e.button начать