.promo
    width 100vw
    height 95vh
    background-image url(/images/promo-bg.jpg)
    background-size 100vw 95vh

    &__container
        padding w(370) 25% w(100)
        display flex
        flex-direction column
        justify-content center
        align-items center

    &__text
        width w(665)
        font-family $ff-Aeroport
        color $c-white
        text-align center
        font-size w(28)
        font-weight 400
        line-height w(34)

    &__wrap
        margin-top w(70)
        display flex
        flex-direction row
        z-index 1

    &__button
        width w(430)
        height w(110)
        padding w(10)
        border-radius w(10)
        border w(7) solid #F8CA6E
        background #FFFCE5
        text-align center
        font-family $ff-Dobrozrachniy
        font-size w(70)
        font-style normal
        font-weight 400
        color #F8CD70
        text-decoration none
        &:last-child
            margin-left w(50)

    &__film
        width w(340)
        position absolute
        top w(0)
        right w(200)
        img
            width 100%

    &__logo
        width w(240)
        position absolute
        top w(60)
        left w(170)
        img
            width 100%

    &__title
        width w(1000)
        position absolute
        top w(150)
        left w(470)
        img
            width 100%

    &__shuka
        position absolute
        width w(700)
        bottom w(105)
        left w(0)
        img
            width 100%

    &__years
        width w(80)
        position absolute
        bottom w(130)
        right w(50)
        img
            width 100%

